.upper-part{
    background-color: #1976d2;
    width: 100%;
    height: 60px;
}

.faq-page{
    background-color: #f9f9f9;
    padding: 20px 80px;
    padding-top: 85px;
    .heading{
        font-size: 2.2rem;
        font-weight: 800;
        color: #1976d2;
        text-align: center;
        margin-bottom: 20px;
    }
    .subheading{
        text-align: center;
        font-size: 1.2rem;
        color: #121212;
        margin-bottom: 40px;
    }

    .FAQS{
       .quecontainer{
            // border: 2px solid #1976d2;
            margin-bottom: 20px;

            padding: 60px 30px;
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            color: #1976d2;

            .question{
                font-weight: 600;
                margin-bottom: 30px;
                font-size: 22px;
                p{
                    display: inline;
                }
            }
            .answer{
                font-size: 20px;
                letter-spacing: 1.3px;
                line-height: 30px;
                color: #2e7d32;
                p{
                    display: inline;
                    font-weight: 600;
                }

            }
        }
    }
    .conclusion{
        .heading{
            font-weight: 800;
            font-size: 20px;
            text-align: left;
            margin-bottom: 5px;
            margin-top: 40px;
            color: #121212;
        }
        a{
            color: #1976d2;
            font-weight: 600;
        }
    }

}


@media screen and (max-width: 800px) {
        .faq-page{
            padding: 85px 60px;
        }
}
@media screen and (max-width: 700px) {
        .faq-page{
            padding: 85px 40px;
        }
}
@media screen and (max-width: 600px) {
        .faq-page{
            padding: 85px 20px;
        }
}

